HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Dependências
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Diretórios de build e distribuição
/dist/
/dist_electron/
/web-project/dist_electron/
dist_electron/
win-unpacked/
**/dist_electron/
**/win-unpacked/
/build/
/out/
/.output/
/release/
/instalador/

# Arquivos específicos do Electron que excedem o limite do GitHub
**/LidyEstetica-Setup*.exe
**/*Setup*.exe
**/Lidy Estética.exe
**/*.exe
**/win-unpacked/**
**/win-unpacked/
web-project/dist_electron/win-unpacked/
web-project/dist_electron/LidyEstetica-Setup-*.exe

# Arquivos específicos do Electron
electron-builder.env
*.tsbuildinfo
/electron/dist/
/electron/build/
/electron/out/
/electron-builder.yml
*.dmg
*.AppImage
*.snap
*.deb
*.rpm
*.blockmap
latest*.yml
*-latest*.yml
*.zip

# Arquivos de cache
.cache/
.npm/
.eslintcache
.stylelintcache
.parcel-cache
.rollup.cache
.vite/

# Arquivos de ambiente local
.env
.env.local
.env.*.local

# Arquivos de log
logs
*.log

# Arquivos específicos do sistema operacional
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Arquivos de IDE/editores
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history/
*.sublime-workspace

# Arquivos temporários
/temp
/tmp
*.tmp
*.bak
*.swp

# Arquivos de cobertura de testes
coverage/
.nyc_output/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Outros arquivos que podem ser gerados durante o desenvolvimento
.fusebox/
*.local 