:root {
  --primary-color: #ff69b4;
  --primary-color-dark: #ff1493;
  --text-color: #333333;
  --text-color-light: #666666;
  --border-color: #dddddd;
  --danger-color: #dc3545;
  --danger-color-dark: #bd2130;
  --warning-color: #f0ad4e;
  --warning-color-dark: #ec971f;
  --warning-bg-color: #fcf8e3;
  --warning-text-color: #8a6d3b;
  --gray-color: #e9ecef;
  --gray-color-dark: #dee2e6;
} 